* {
  font-family: 'Roboto', sans-serif;
}
div {
  box-sizing: border-box;
  border: 100px;
  border-color: black;
}
footer{
  background-color: #262626;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

a:hover{
  color: #c2a265;
}
.img-logo-bg {
  max-width:
}

#container-fluid {
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}
